{% block content %}
  <div class="form-wrapper">

    <h1>Create a Recipe from a URL</h1>
    <p> This will attempt to create a recipe from a url. This function may not work on all urls and the information will likely need to be edited. </p>

    <form method="POST" action="">
      {{ form.csrf_token }}

      <fieldset class="url">
        {{ form.url.label }}
        {{ form.url(placeholder='www.cookbook_recipe_link.com') }}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>

    </form>
  </div>

{% endblock %}


